:root {
  /*primary*/
  --green-200: hsl(148, 38%, 91%);
  --green-600: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 54%);

  /**neutral*/

  --white: hsl(0, 0%, 100%);
  --grey-500: hsl(186, 15%, 59%);
  --grey-900: hsl(187, 24%, 22%);
}
* {
  box-sizing: border-box;
}

body {
  background-color: var(--green-200);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  max-width: 100%;
  background-color: var(--white);
  padding: 40px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#heading {
  flex-direction: initial;
  font-size: medium;
  font-weight: 300;
}
.FNL {
  display: flex;
  gap: 8px;
}

.FNL > div {
  flex: 1;
}

label {
  display: block;
  margin-bottom: 5px;
}

.query {
  display: flex;
  gap: 10px;
}

.radioInput {
  display: flex;
  gap: 5px;
  border: solid 1px;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}
.checkbox {
  display: flex;
  gap: 3px;
}
.input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
}

textarea {
  border-radius: 5px;
}

.input1 {
  border-radius: 5px;
  padding: 8px;
  background-color: var(--green-600);
  outline: none;
}
.required ::after {
  content: "*";
  color: var(--green-200);
  font-weight: bold;
}
