:root {
  /*primary*/
  --green-200: hsl(148, 38%, 91%);
  --green-600: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 54%);

  /**neutral*/

  --white: hsl(0, 0%, 100%);
  --grey-500: hsl(186, 15%, 59%);
  --grey-900: hsl(187, 24%, 22%);
}
* {
  box-sizing: border-box;
}

body {
  background-color: var(--green-200);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  max-width: 600px;
  width: 90%;
  background-color: var(--white);
  padding: 28px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#heading {
  flex-direction: initial;
  font-size: x-large;
  font-weight: 300;
  font-weight: bold;
  margin: 0;
}
.FNL {
  display: flex;
  gap: 8px;
}

.FNL > div {
  flex: 1;
}

label {
  display: block;
  margin-bottom: 8px;
}

.radioInput {
  display: flex;
  gap: 8px;

  border-radius: 8px;
  padding: 12px;
  width: 100%;
  border: 1px solid var(--grey-500);
  align-items: center;
  font-size: small;
}
.checkbox {
  display: flex;
  gap: 3px;
}
.input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--grey-500);
}

textarea {
  border-radius: 8px;
  border: 1px solid var(--grey-500);
  padding: 12px;
  width: 100%;
}

.input1 {
  border-radius: 8px;
  padding: 10px;
  background-color: var(--green-600);
}
.required::after {
  content: "*";
  margin-left: 5px;

  font-weight: bold;
}

.query {
  display: flex;

  gap: 8px;
}
.query1 {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.radioInput label {
  display: inline;
  margin-bottom: 0;
  white-space: nowrap;
}
.input1:hover {
  cursor: pointer;
}

.input:hover {
  cursor: pointer;
}

.input:focus {
  border: 1px solid var(--green-600);
  outline: none;
}
textarea:focus {
  border: 1px solid var(--green-600);
  outline: none;
}
.radioInput:focus-visible {
  background-color: var(--green-200);
  border-color: var(--green-600);
}
